$light-grey: #f5f6f7;
$grey: #6c757d;
$gray: #6c757d;
$white: #fff;
$grey-50: #e8eaee;
$primary-color: #ff8d22;
$secondary-color: #0a3852;
$dark: #1c1b1b;
$blue: #0a58ca;
$danger: #dc3545;


$h1: 4.5em;
$h2: 2.65em;
$h3: 2.25em;
$h4: 2em;
$h5: 1.5em;
$h6: 1.4em;
$p: 1.25em;
$small: 0.876em;
$custom-link: 0.7em;

$fw-light: 300;
$fw-normal: 500;
$fw-bold: bold;
$fw-black: 900;
